<ion-view title="Create League">
    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background-color:lightgrey;">
        <div class="spacer" style="height: 40px;"></div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">League Name</span>
                <input type="text" ng-model="name">
            </label>
            <label class="item item-input">
                <span class="input-label">League Type</span>
                <input type="text" ng-model="type">
            </label>
        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <button type="button" class="button button-positive button-block" ng-click="CreateLeague(name,type)">Create League</button>
    </ion-content>
</ion-view>