<style>
    #profile_picture {
        position: relative;
        display: block;
    }
</style>

<ion-view title="Profile">
    <ion-content class="has-header">
        <div id="banner" style="background-color:lightgrey; height:{{DeviceHeight / 5}}px;">

        </div>
        <div id="profile_picture" style="bottom:{{DeviceHeight / 10}}px;">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" style="width:{{DeviceWidth / 4}}px; height:{{DeviceHeight / 6}}px; margin:auto; display:block; border-radius:25px;" />

            <div id="base_information" style="text-align:center; margin-top:10px;">
                <h3>{{Model.User.FirstName}} {{Model.User.LastName}}</h3>
            </div>
        </div>

        <div id="statistics" class="row" style="text-align:center;">
            <div class="col-33">
                <h1>{{Model.UserLeague.PointsScored}}</h1>
                <p>Points Scored</p>
            </div>
            <div class="col-33">
                <h1>{{Model.UserLeague.PointsAllowed}}</h1>
                <p>Points Allowed</p>
            </div>
            <div class="col-33">
                <h1>{{Model.UserLeague.GamesPlayed}}</h1>
                <p>Games Played</p>
            </div>
        </div>
        <div>
            <a href="#/Schedule/id/{{Model.UserLeague.ID}}" class="button button-positive button-full">See Full Schedule</a>
        </div>
    </ion-content>
</ion-view>