<style>
    #profile_picture {
        position: relative;
        display: block;
    }

    .scroll{
        height:100%;
    }
</style>

<ion-view title="Profile">
    <ion-content class="has-header">
        <div id="banner" style="background-color:lightgrey; height:{{DeviceHeight / 8}}px;">

        </div>
        <div id="profile_picture" style="bottom:{{DeviceHeight / 10}}px;">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" style="width:{{DeviceWidth / 4}}px; height:{{DeviceHeight / 6}}px; margin:auto; display:block; border-radius:25px;" />

            <div id="base_information" style="text-align:center; margin-top:10px;">
                <h3>{{Model.User.FirstName}} {{Model.User.LastName}}</h3>
                <h4>{{Model.UserLeague.Wins}} - {{Model.UserLeague.Losses}}</h4>
            </div>
        </div>

        <div id="statistics" class="row" style="text-align:center; position:relative; bottom:50px;">
            <div class="col-33">
                <h1>{{(Model.UserLeague.PointsScored / Model.UserLeague.GamesPlayed).toFixed(2)}}</h1>
                <p>Points Scored</p>
            </div>
            <div class="col-33">
                <h1>{{(Model.UserLeague.PointsAllowed / Model.UserLeague.GamesPlayed).toFixed(2)}}</h1>
                <p>Points Allowed</p>
            </div>
            <div class="col-33">
                <h1>{{Model.UserLeague.GamesPlayed}}</h1>
                <p>Games Played</p>
            </div>
        </div>
        <div id="recentGames" style="position:relative; position:absolute; bottom:30px; width:100%">
            <div class="row">
                <h4 style="text-align:center; width:100%; margin:0px;">Recent Games</h4>
            </div>
            <div id="recentGamesBody" style="padding:0px 15px 0px 15px;">
                <div class="row" ng-repeat="game in Model.UserLeague.Games.concat(Model.UserLeague.Games1) | filter: orderBy: CreatedOn | limitTo:3">
                    <div class="col-50">
                        <div ng-if="game.UserLeague">
                            <p>{{game.UserLeague.User.FirstName.substring(0,1)}}. {{game.UserLeague.User.LastName}}</p>
                        </div>
                        <div ng-if="game.UserLeague1">
                            <p>{{game.UserLeague1.User.FirstName.substring(0,1)}}. {{game.UserLeague1.User.LastName}}</p>
                        </div>
                    </div>
                    <div class="col-25">
                        <p>{{game.UserScore}}</p>
                    </div>
                    <div class="col-25">
                        <p>{{game.OpponentScore}}</p>
                    </div>
                </div>
                <a href="#/LeagueMenu/id/{{Model.League.ID}}/Schedule/id/{{Model.UserLeague.ID}}" class="button button-positive" style="width:100%;">See Full Schedule</a>
            </div>
        </div>
    </ion-content>
</ion-view>